* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 170px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
}
.chat-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: rgb(55, 55, 246);
  color: white;
  font-size: 24px;
  z-index: 1;
  border: 1px;
  border-radius: 50px;
  padding: 8px;
  width: 60px;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.chat-btn .close {
  display: none;
}

#checkbox:checked ~ .chat-btn i {
  display: block;
}

#checkbox:checked ~ .chat-btn .comment {
  display: none;
}
#checkbox {
  display: none !important;
}

#checkbox:checked ~ .chat-window {
  opacity: 1;
}

.chat-window {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 250px;
  height: auto;
  z-index: 2;
  color: white;
  border: 1px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  padding: 4px;
  margin-bottom: 2px;
  background-color: #fff;
}
.chat-header {
  background-color: rgb(55, 55, 246);
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  width: 100%;
}
.chat-form {
  padding: 5px;
}
.chat-mes {
  max-height: 250px;
  overflow-y: scroll;
}
.text-area,
.chat-mes,
.chat-form {
  width: 100%;
  resize: none;
}

.chat-mes p {
  color: black;
  padding: 4px;
}
.chat-form:focus,
text-area:focus {
  box-shadow: none;
}
.submitchat {
  color: white;
  background-color: rgb(55, 55, 246);
  border-radius: 15px;
  border: none;
  padding: 8px;
  margin-bottom: 5px;
}

.submitchat:hover {
  background-color: rgb(15, 15, 241);
}
.submitchat:active {
  background-color: rgb(103, 103, 236);
}
/* 
.chat-window.chat-form.chat-mes.support-mes {
  padding: 4px;
  background-color: rgb(55, 55, 246);
} */
.startincard {
  margin-bottom: 20px;
}
.imageproduct {
  max-width: 100%;
  min-width: 99%;
  min-height: 350px;
  max-height: 351px;
  height: auto;
}
.registerpage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.input_register {
  width: 100%;
}
.tableorders {
  margin-top: 30px;
}
.order_nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(136, 139, 139, 0.12);
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.link {
  color: black;
}
.link:hover {
  color: rgb(0, 103, 112);
  background-color: #fff;
  border-radius: 15px;
}
.create-prduct-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.user_edit_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.user-mes {
  color: white;
  padding: 8px;
  background-color: rgb(32, 108, 207);
  border-radius: 15px;
  margin-left: 25px;
}
.message-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 250px;
}
.from-chat-comp {
  margin: 4px;
}
.col-chat-link {
  max-width: 250pxs;
  min-width: 220px;
}
/* .analysis-paper {
} */
.image_caryt_details {
  max-width: 100%;
  min-width: 99%;
  min-height: 100px;
  max-height: 101px;
  height: auto;
}
.paypall {
  margin-top: 5px;
}
